{% load static%}

<nav class="mb-1 navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand" href="/"><b>Home</b></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent-333"
    aria-controls="navbarSupportedContent-333" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
    </button>
    <div>
    <a class="navbar-brand" href="{% url 'post_product' %}">Add Items</a>
    </div>
</nav>